<!doctype html>
<html class="no-js" lang="tr">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Site keywords here">
    <meta name="description" content="">
    <meta name='copyright' content=''>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Title -->
    <title>Arif Kalaycı</title>
    
    <!-- Favicon -->
    <%- include('../partials/link.ejs') %>

    <style>
        <%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/normalize.css") %>
        <%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/bootstrap.min.css") %>
        <%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/nice-select.css") %>
        <%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/font-awesome.min.css") %>
        <%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/icofont.css") %>
        <%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/slicknav.min.css") %>
        <%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/owl-carousel.css") %>
        <%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/datepicker.css") %>
        <%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/animate.min.css") %> 
        <%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/magnific-popup.css") %>
        <%- include("style.css") %>
        <%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/responsive.css") %>
    </style>
</head>
<body>

    <%- include('../partials/head.ejs') %>

    
    <!-- Breadcrumbs -->
    <div class="breadcrumbs overlay">
        <div class="container">
            <div class="bread-inner">
                <div class="row">
                    <div class="col-12">
                        <h2>Hakkımda</h2>
                        <ul class="bread-list">
                            <li><a href="index.html">Ana Sayfa</a></li>
                            <li><i class="icofont-simple-right"></i></li>
                            <li class="active">Hakkımda</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->
    
    <!-- Single News -->
    <section class="news-single section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="single-main">
                                <!-- News Head -->
                                <div class="news-head">
                                    <img src="static/img/resmim.jpg" alt="#">
                                </div>
                                <!-- News Title -->
                                <h1 class="news-title"><a href="news-single.html" onclick="return false;">Arif Kalaycı</a></h1>
                                <!-- Meta -->
                                <div class="meta">
                                    <div class="meta-right">
                                        <span class="views"><i class="fa fa-eye"></i>73 Görüntüleme</span>
                                    </div>
                                </div>
                                <!-- News Text -->
                                <div class="book-blog">
                                    <p>Merhaba, Ben Arif Kalaycı. 2001 yılında güzel bir Malatya gününde doğdum ve hayatımın büyük bir kısmını teknolojiyle iç içe geçirdim. Yazılım mühendisi olarak kariyerime devam ederken, özel hayatımda da çeşitli ilgi alanları ve hobilerimle aktif bir yaşam sürdürüyorum.</p>
									<p>Eğitim hayatımı Malatya ve Samsun şehirlerinde geçirdim. Bu şehirlerde ilköğretim, lise ve üniversite eğitimlerimi tamamladım</p><br><br>
									                                <!-- Eğitim Hayatı -->
																	<section class="Feautes section">
																		<div class="container">
																			<div class="row">
																				<div class="col-lg-4 col-12">
																					<!-- İlkokul -->
																					<div class="single-features">
																						<div class="signle-icon">
																							<i class="icofont icofont-school-bag"></i>
																						</div>
																						<h3>Mehmet Akif Ersoy İlkokulu</h3>
																						<p>İlköğrenim eğitimimi Malatya'da bulunan Mehmet Akif Ersoy İlköğretim Okulunda bitirdim.</p>
																					</div>
																				</div>
																				<div class="col-lg-4 col-12">
																					<!-- Lise -->
																					<div class="single-features">
																						<div class="signle-icon">
																							<i class="icofont icofont-book-alt"></i>
																						</div>
																						<h3>Mehmet Emin Ilıcak Fen Lisesi</h3>
																						<p>Lise öğrenimimi Malatya’da bulunan Mehmet Emin Ilıcak Fen Lisesi'nde gerçekleştirdim.</p>
																					</div>
																				</div>
																				<div class="col-lg-4 col-12">
																					<!-- Üniversite -->
																					<div class="single-features last">
																						<div class="signle-icon">
																							<i class="icofont icofont-graduate-alt"></i>
																						</div>
																						<h3>Samsun Üniversitesi</h3>
																						<p>Yazılım mühendisliği lisans eğitimimi Samsun'da tamamladım.</p>
																					</div>
																				</div>
																			</div>
																		</div>
																	</section>
																	<!--/ End Eğitim Hayatı -->
                                    <p>Üniversite eğitimim boyunca bilgisayar bilimleri üzerine yoğunlaştım ve bu alanda derinlemesine bilgi edindim. Yazılım geliştirme süreçlerinde edindiğim tecrübeler, hem bireysel projelerimde hem de ekip çalışmalarında benim için büyük bir avantaj oldu. Özellikle web geliştirme, java geliştirme, veritabanı yönetimi ve yapay zeka  konularında uzmanlaşmaya çalıştım.</p>
                                    <p>Kariyerimin yanı sıra kişisel hayatımda da aktif bir şekilde zaman geçiriyorum. Kitaplar benim için büyük bir tutku; farklı türlerde ve konularda geniş bir koleksiyonum var ve her fırsatta yeni kitaplar keşfetmekten büyük keyif alıyorum. Doğa yürüyüşleri ise hem zihinsel hem de fiziksel olarak yenilenmemi sağlıyor; doğanın güzellikleri karşısında hummalı bir keşif süreci yaşamaktan büyük mutluluk duyuyorum.</p>
                                    <p>Ayrıca, seyahat etmek de benim için önemli bir yaşam tarzı. Farklı kültürleri keşfetmek, yeni insanlarla tanışmak ve yeni lezzetler denemek benim için sınırsız bir ilham kaynağı.</p>
                                    <p>Bu siteyi oluştururken amacım, hem profesyonel çalışmalarımı hem de kişisel ilgi alanlarımı paylaşmak ve bu yolda yeni insanlarla bağlantı kurmak. Teknolojinin gücünü kullanarak, dünyayı daha iyi bir yer haline getirmek için çalışan herkesle birlikte olmaktan büyük bir mutluluk duyuyorum.</p>
                                    <p>Sizleri de bu yolculukta benimle birlikte olmaya ve deneyimlerimizi paylaşmaya davet ediyorum. Teşekkürler...</p>
                                </div>
                                

                            </div>
                        </div>
                    </div>
					<div class="col-12">
						<div class="comments-form">
							<h2>Yorum Bırakın</h2>
							<!-- Contact Form -->
							<form class="form" method="post" action="mail/mail.php">
								<div class="row">
									<div class="col-lg-4 col-md-4 col-12">
										<div class="form-group">
											<i class="fa fa-user"></i>
											<input type="text" name="first-name" placeholder="İsim" required="required">
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-12">
										<div class="form-group">
											<i class="fa fa-envelope"></i>
											<input type="text" name="last-name" placeholder="Soy İsim" required="required">
										</div>
									</div>
									<div class="col-lg-4 col-md-4 col-12">
										<div class="form-group">
											<i class="fa fa-envelope"></i>
											<input type="email" name="email" placeholder="Email" required="required">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group message">
											<i class="fa fa-pencil"></i>
											<textarea name="message" rows="7" placeholder="Yorum" ></textarea>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group button">	
											<button type="submit" class="btn primary"><i class="fa fa-send"></i>Yorum Gönder</button>
										</div>
									</div>
								</div>
							</form>
							<!--/ End Contact Form -->
						</div>
					</div>
                </div>
            </div>
        </div>
    </section>

    <%- include('../partials/footer.ejs') %>

    <!--/ End Footer Area -->
    
    <%- include('../partials/script.ejs') %>

</body>
</html>
