<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Arif Kalaycı</title>
		
		<!-- Favicon -->
		<%- include('../partials/link.ejs') %>

		<style>

  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/normalize.css") %>
			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/bootstrap.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/nice-select.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/font-awesome.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/icofont.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/slicknav.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/owl-carousel.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/datepicker.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/animate.min.css") %> 
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/magnific-popup.css") %>
  			<%- include("style.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/responsive.css") %>
		</style>
		
    </head>
    <body>
	

		<%- include('../partials/head.ejs') %>

		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>1984</h2>
							<ul class="bread-list">
								<li><a href="/books">Kitaplarım</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">1984</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- Single News -->
		<section class="news-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">
									<!-- News Head -->
									<div class="news-head">
										<img src="static/img/1984.jpg" alt="#">
									</div>
									<!-- News Title -->
									<h1 class="news-title"><a href="news-single.html" onclick="return false;">1984</a></h1>
									<!-- Meta -->
									<div class="meta">

										<div class="meta-right">
											<span class="views"><i class="fa fa-eye"></i>23 Görüntüleme</span>
										</div>
									</div>
									<!-- News Text -->
                                    <div class="book-blog">
                                        <h3>SAVAŞ BARIŞTIR</h3>
                                        <br>

                                        <p>Geçmiş zamanlarda yapılan savaşlar toprak almak, hazine elde etmek gibi amaçlar üzerine yapılıyordu ve savaşın kesin bir galibi bir de kaybedeni oluyordu. 1984 evrenindeki savaşlar sürekli devam eden, kesin bir galibi olmayan ve sonuçta toprak değişiminin olmadığı savaşlardır. Buradaki amaç toprak almak veya hazine elde etmek değil. Bu savaşın sürekli devam etmesidir. Toplum, ülkenin sürekli savaş halinde olduğuna inanırsa barışa ulaşabilir. İnsanları daha fazla çalıştırabilir, üretime zorlayabilir ve daha az tüketmelerini sağlayabilirsiniz. Savaş sürekli olduğunda teknik gelişmeler durabilir, bilimsel araştırmalar sadece savaş odaklı ilerler (bu araştırmaların başarıya ulaşıp ulaşmaması önemli değildir çünkü amaç bu savaşı kazanmak değil sürekli halde tutmaktır) ve halkı dış güçleri sorumlu tutarak daha motive kalmaları sağlanabilir. Bu motivasyonla onlara asgari yaşam şartları bile sunsanız savaşı kazanmaya yaklaşıyormuş ve dış güçleri alt ediyormuş algısı yarattığınızda, onlar bunu önemsemeyecektir. Görüldüğü gibi savaşın sürmesinin barışa birçok açıdan katkısı vardır. Bu yüzden savaş kavramı artık anlamını yitirmiş ve barış olmuştur.</p>
                                        <br>
                                        <h3>ÖZGÜRLÜK KÖLELİKTİR</h3>
                                        <br>
                                        <p>Özgürlük bireyselliktir. İktidar ise ortaklaşa olmaktır. Özgür olmak aykırı düşünmeyi ve yalnızlığı getirir çünkü ortaklaşmadan yani iktidardan uzaklaşmıştır. Tam aksi ise kölelik bir özgürlüktür. Çünkü köle olmak tam anlamıyla iktidara boyun eğmek, tam anlamıyla kendi kimliğinden sıyrılmaktır. Bu boyun eğme ve sıyrılma iktidarla ortaklaşa olmayı getirir. İktidarla ortaklaşa olabilen biri artık özgürdür çünkü artık o iktidar olmuştur ve iktidar olmak hükmetmeyi getirir. İnsanlara hükmetmek, maddeye hükmetmek, en çok da beyinlere hükmetmektir. Sonuçta özgür olan yalnız kalır ve dışlanır. Köle olan iktidar olup özgürleşir. Özgürlük köleliktir...</p>
                                        <br>
                                        <h3>CEHALET GÜÇTÜR</h3>
                                        <br>

                                        <p>Bilge olan farkına varandır. Farkına varan ve bu aşağılık sistemi bile bile bununla yaşamak zorunda kalan çaresiz ve zayıftır çünkü bu insan hastalıklı bir insandır. Çevresinden tiksinir, bu sistemin dişlisi olan insanlıkla uyumsuzdur ve onlara nefretle bakar. Cahil olan ise çok güçlüdür. Tam bir uyumluluk halinde yaşar. Asgari yaşam şartları, yaşadığı sistemin işleyişi gibi nerdeyse onu hiçbir şey zayıflatamaz ve motivasyonunu azaltamaz çünkü o iktidarla (büyük biraderle) bir bütündür.</p>
                                    </div>
                                    
                                    
     
								</div>
							</div>

							<%- include('../partials/comment.ejs') %>

						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="main-sidebar">
							<!-- Single Widget -->
							<div class="single-widget side-tags">
								<h3 class="title">Tags</h3>
								<ul class="tag">
									<li><a href="#">Kitap</a></li>
									<li><a href="#">Dünya Klasikleri</a></li>
									<li><a href="#">Türk Klasikleri</a></li>
									<li><a href="#">Edebiyat</a></li>
									<li><a href="#">Roman</a></li>
									<li><a href="#">Dostoyevski</a></li>
									<li><a href="#">Tolstoy</a></li>
                                    <li><a href="#">Kafka</a></li>

								</ul>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
                            <div class="single-widget category">
                                <h3 class="title">Kitap İncelemelerim</h3>
                                <ul class="categor-list">
                                    <li>&bull; <a href="#">Suç ve Ceza</a></li>
                                    <li>&bull; <a href="#">Dorian Gray'in Portresi</a></li>
                                    <li>&bull; <a href="#">1984</a></li>
                                    <li>&bull; <a href="#">Martin Eden</a></li>
                                    <li>&bull; <a href="#">Beyaz Geceler</a></li>
                                </ul>
                            </div>
                            
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget recent-post">
								<h3 class="title">Son Gönderiler</h3>
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/crime.jpg" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Raskolnikov'u Anlamak…</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Temmuz 3, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/dorian.jpg" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Beyaz Geceler</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Mart 05, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/beyaz.jpg" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Varoluşsal Sancılar...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Haziran 09, 2023</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
                                								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/martin.jpg" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Martini Uçuruma Sürükleyen Yol...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Şubat 21, 2022</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<!--/ End Single Widget -->
							<!-- Single Widget -->

							<!--/ End Single Widget -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Single News -->
		
		<%- include('../partials/footer.ejs') %>

		<!--/ End Footer Area -->
		
		<%- include('../partials/script.ejs') %>

    </body>
</html>