<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Arif Kalaycı</title>
		
		<!-- Favicon -->
		<%- include('../partials/link.ejs') %>

		<style>

  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/normalize.css") %>
			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/bootstrap.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/nice-select.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/font-awesome.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/icofont.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/slicknav.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/owl-carousel.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/datepicker.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/animate.min.css") %> 
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/magnific-popup.css") %>
  			<%- include("style.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/responsive.css") %>
		</style>
		
    </head>
    <body>
	

		<%- include('../partials/head.ejs') %>

		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Suç ve Ceza</h2>
							<ul class="bread-list">
								<li><a href="/books">Kitaplarım</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Suç ve Ceza</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- Single News -->
		<section class="news-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">
									<!-- News Head -->
									<div class="news-head">
										<img src="static/img/crime.jpg" alt="#">
									</div>
									<!-- News Title -->
									<h1 class="news-title"><a href="news-single.html" onclick="return false;">Raskolnikov'u Anlamak</a></h1>
									<!-- Meta -->
									<div class="meta">

										<div class="meta-right">
											<span class="views"><i class="fa fa-eye"></i>23 Görüntüleme</span>
										</div>
									</div>
									<!-- News Text -->
                                    <div class="book-blog">
                                        <p>Dünya edebiyatının en iyi eserlerinden olduğu varsayılan Suç ve Ceza’yı anlamak için Raskolnikov'un eylemlerini ve düşünsel formunu sorgulamamız gerektiğini düşünüyorum.</p>
                                        <br>
                                        <h3>YÜZLERCE İYİLİK ELDE ETMEK İÇİN BİR KÖTÜLÜK YAPILABİLİR Mİ?</h3>
                                        <br>
                                        <p>Raskolnikov'un maddi durumu oldukça kötüdür. Üniversite öğrencisi olan Raskolnikov, roman boyunca çeşitli nedenlerle para sıkıntısı çeker ve bu durum onun içsel çatışmalarını da derinleştirir. Bu etkenler sonucunda hırsızlık yapmaya karar verir. Ancak bu hırsızlığı aynı zamanda yüzlerce iyilik elde edebilmek için yapar. Öldürüp parasını çalacağı Alonya Ivanovna bir tefecidir. Raskolnikov’a göre Ivanovna kimseye faydası olmayan insanların maddi sıkıntılarından beslenen aşağılık bir parazittir. Bu tefeciyi öldürerek her şeyi yoluna koyabileceğini düşünmektedir. Bu sayede kendi öğrenim masraflarını karşılayabilecek, ailesini bu sefillikten kurtarabilecek, kız kardeşinin zorunlu bir evlilik yapmasının önüne geçecek ve sadece kendini değil Ivanovnaya borçlanmış tüm insanları bu sefillikten kurtaracaktır. Bu eylemin sonucunda sorulması gereken soru şudur: yüzlerce iyilik elde etmek için bir kötülük yapılabilir mi?</p>
                                        <br>
                                        <h3>RASKOLNİKOV YOKSULLUK YÜZÜNDEN HIRSIZLIK YAPMASINA RAĞMEN BU PARAYI NEDEN HİÇ HARCAMADI?</h3>
                                        <br>
                                        <p>Bahsettiğim gibi Raskolnikov maddi olarak zor durumdaydı ve bunun etkileri sonucunda bir cinayet işleyerek hırsızlık yaptı. Peki parayı çaldıktan sonra bile birçok maddi zorluklarla karşılaşmasına rağmen neden çaldığı paranın tek kuruşuna bile dokunmadı? Hatta bırakın dokunmayı paraya bir kez olsun bakmadı ve harcamayı aklından dahi geçirmedi.</p>
                                        <p>Parayı harcamak, onun suçu kabul etmek ve suçunun pratik sonuçlarını kabullenmesi anlamına gelmektedir. Bu yüzden Raskolnikov’un bu parayı harcaması düşüncelerine ihanet etmesi olurdu. O bu suçu kabullenmiyordu çünkü bir düşünsel mantık için bunu yaptığını savunuyordu. Onun mantığı suçu işlerken "üstün insan" teorisine dayanıyor, toplumsal yasaların üstünde durabileceğini ve suç işleyerek bunu kanıtlayabileceğini düşünüyordu. Parayı hiç harcamamış olması da Raskolnikov'un suçu işlemesindeki amacının maddi kazanç değil, Nietzsche’nin "üstün insan" teorisini kanıtlamak olduğunu gösterir. Bu durum aynı zamanda Kierkegaard'ın "ahlaki çelişki" kavramıyla da bağlantılıdır. Raskolnikov, suç işleyerek ahlaki değerleri çiğnediği için içsel bir çelişki yaşar. Parayı harcamama eylemi de suçun ahlaki çelişkisini yansıtır.</p>
                                        <p>Aslında Raskolnikov’un tek amacı bu hırsızlığı yapıp maddi kazanç elde etmek değildi. Çünkü romanın sonlarında bahsettiği gibi bu hırsızlığı yapmasa da bir şekilde geçinmeye devam edebilirdi. Belki zorluklar yaşıyordu fakat sonradan itiraf ettiği gibi verdiği özel dersleri bırakmasaydı ailesinin de göndermiş olduğu parayla birlikte okuluna devam edebilirdi. Peki Raskolnikov geçinebileceğinin farkındaysa neden özel ders vermeyi bıraktı ve neden okulu bitirene kadar bu şekilde idare etmedi ? Hukuk fakültesinde okuyordu ve bitirdiğinde devlet kademesinde bir işe sahip olacaktı. Bunu neden tercih etmedi? Bu sorularla bu cinayeti neden işlediği sorusu aynı cevabı taşıyor.</p>
                                        <br>
                                        <h3>RASKOLNİKOV NEDEN CİNAYET İŞLEDİ?</h3>
                                        <br>
                                        <p>Raskolnikov’un vicdani yükümlülüklerini en derinden sorguladığı anda Sonya’yla konuşmasında şu itirafta bulunmuştur: “Napolyon olmak istedim, onun için de öldürdüm…” der. Napolyon olma isteği sadece toplumsal normları reddetmekle kalmayıp aynı zamanda yoksulluğunu sona erdirecek bir gücü elde etme arzusunu yansıtmaktadır.</p>
                                        <p>Aslında bu suçu işlemesinin ardında yatan temel etkenlerden biri olarak özdeğer ve özsaygı arayışını gösterebiliriz. Yoksulluk içinde yaşarken toplumun üst sınıfının üstünlüğünü ve saygınlığını kazanmak istedi. Napolyon olma isteği ise ona toplum içinde bir yer kazandırma ve kendi değerini kanıtlama fırsatı sundu. Raskolnikov'un içsel çatışmaları ve zorluklarla dolu hayatı güç ve kontrol ihtiyacını doğurdu. Suç işlemek ona geçici bir güç hissi ve kontrol duygusu sağlayacağından bunu gerçekleştirdi.</p>
                                        <p>Peki neden Napolyon? Çünkü Napolyon başkalarının koyduğu kurallara göre yaşayan biri değil kendi kurallarını koyan ve insanların onun kurallarına göre yaşadığı bir üst insandır. Bu yüzdendir ki onun eylemleri ne olursa olsun asla suç sayılmamıştır. Napolyon’un sivil ve asker binlerce insan öldürmesi, şehirleri yağmalaması, savaşlar başlatması vs… bunlara rağmen Napolyon kötü ve suçlu biri olarak olarak anılmama nedeni de bu üst insan profilidir.</p>
                                        <p>Raskolnikov küçük sefil tavan arası dairesinde rezil bir hayat yaşıyordu. Daha da kötüsü bu aşağılık yaşantısının bir sonu da gelmeyecekti. Okulunu bitirse bile birkaç yüz rubleyle ancak hayatta kalmasına yeter bir parayla insanların yeterince saygı duymadığı toplum tarafından kabul görmeyen bir insan olmaya devam edecekti. Fakat o kendini diğerleri gibi görmüyor üst insan olduğunu düşünüyordu. Raskolnikov'un cinayeti işlemesi aynı zamanda nihilist düşüncelerin bir yansımasıydı çünkü ona göre ahlaki değerler sadece toplumsal birer yaratıktı. Yalnızca üstün insanlar bu değerleri aşabilirdi ve kendisi de bunu yaptı. Bunun sonucunda çektiği vicdan azabı ise onun aslında köle ruhlu bir insan olduğunu keşfetmesini sağladı ve bunu farketmiş olması ona katlanılmaz bir acı getirdi.</p>
                                        <br>
                                        <h3>RASKOLNİKOV SUÇLU MUDUR?</h3>
                                        <br>
                                        <p>Hayali bir hükümeti düşürmeye çalışan cuntacıların yaptığı darbe eylemini ele alalım. Darbeciler ne yapar? Yaptıkları eylem özetle: hükümet tarafındaki yüksek kademeli kişileri tutuklamak, yönetime el koymak, iletişim kanallarını ele geçirmek, ulaşım ağlarını kontrol altına almak vs… Peki bu eylemler suç mudur? Başarılı bir darbeci tarih boyunca hiçbir zaman suçlu sayılmamıştır. Başarısız darbecilerde her zaman hain ilan edilmişlerdir. Aslında ikisinin gerçekleştirdiği eylemler tıpa tıpa aynı ve biraz önce özetlediğim eylemlerdir. Aynı iki eylemi yapmalarına rağmen nasıl birisi hain birisi kahraman ilan edilebilir? Hukuk kuralları neden başarılı darbecileri suçlu saymamıştır? Aslında bunun nedeni biraz önce bahsettiğim Napolyon’un suçlu sayılmamasıyla aynı sebeptir. Peki Raskolnikov suçlu muydu? Napolyon olmak isteyen bir kişi bunu yapacak cesareti olamadığı için suçlu sayılır mı? Peki bu ütopyadaki “adamına göre” işleyen kurallara boyun eğen köle ruhlu insanlar ne kadar masum? Raskolnikov yaptığı eylemi suç olarak tanımlasa bile  kendisini “aşağılık bir bit” olarak tanımlıyor.</p>
                                    
                                        <ul>
                                            <li>Bu kitapla ilgili sorulacak birkaç soruyu sordum ve bununla ilgili görüşlerimi dile getirdim. Fakat bu kitapla ilgili sorulacak o kadar çok soru var ki…</li>
                                            <li>Profiry’nin Raskolnikov’un suçlu olduğunu tahmin etmesine rağmen neden onu hemen tutuklamadığı?</li>
                                            <li>Sonya olmasa Raskolnikov’un kefaret ve içsel kurtuluş arayış farkındalığı başlar mıydı?</li>
                                            <li>Svidrigailov’un ahlaki çöküntünün ve nihilizmin örneğini nasıl yansıttığı?</li>
                                            <li>Raskolnikov’un tuhaf ve dengesiz ruh haline rağmen Vrazumihin’in içsel dünyasına ve yaşadığı zorluklara kontrast oluşturma sebebi?</li>
                                            <li>...</li>
                                        </ul>
                                        <p>İncelememi şu cümleyle sonlandırmak istiyorum: "Suç ve Ceza" sadece Suç ve Ceza değil, aynı zamanda insanlık hali ve ahlaki karmaşıklık üzerine derinlemesine bir yolculuktur....</p>
                                        <br>
                                        <h4>Suç ve Ceza</h4>
                                        <p>Fyodor Dostoyevski</p>
                                    </div>
                                    

                                    <!-- News Text -->
     
								</div>
							</div>

							<%- include('../partials/comment.ejs') %>

						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="main-sidebar">
							<!-- Single Widget -->
							<div class="single-widget side-tags">
								<h3 class="title">Tags</h3>
								<ul class="tag">
									<li><a href="#">Kitap</a></li>
									<li><a href="#">Dünya Klasikleri</a></li>
									<li><a href="#">Türk Klasikleri</a></li>
									<li><a href="#">Edebiyat</a></li>
									<li><a href="#">Roman</a></li>
									<li><a href="#">Dostoyevski</a></li>
									<li><a href="#">Tolstoy</a></li>
                                    <li><a href="#">Kafka</a></li>

								</ul>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
                            <div class="single-widget category">
                                <h3 class="title">Kitap İncelemelerim</h3>
                                <ul class="categor-list">
                                    <li>&bull; <a href="#">Suç ve Ceza</a></li>
                                    <li>&bull; <a href="#">Dorian Gray'in Portresi</a></li>
                                    <li>&bull; <a href="#">1984</a></li>
                                    <li>&bull; <a href="#">Martin Eden</a></li>
                                    <li>&bull; <a href="#">Beyaz Geceler</a></li>
                                </ul>
                            </div>
                            
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget recent-post">
								<h3 class="title">Son Gönderiler</h3>
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/crime.jpg" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Raskolnikov'u Anlamak…</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Temmuz 3, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/dorian.jpg" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Ruhuyla portresi takas edilmiş bir insan...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Mart 05, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/beyaz.jpg" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Varoluşsal Sancılar...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Haziran 09, 2023</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
                                								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/martin.jpg" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Martini Uçuruma Sürükleyen Yol...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Şubat 21, 2022</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<!--/ End Single Widget -->
							<!-- Single Widget -->

							<!--/ End Single Widget -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Single News -->
		
		<%- include('../partials/footer.ejs') %>

		<!--/ End Footer Area -->
		
		<%- include('../partials/script.ejs') %>

    </body>
</html>