<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Arif Kalaycı</title>
		
		<!-- Favicon -->
		<%- include('../partials/link.ejs') %>

		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/normalize.css">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/nice-select.css">
		<link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/icofont.css">
		<link rel="stylesheet" href="/static/css/slicknav.min.css">
		<link rel="stylesheet" href="/static/css/owl-carousel.css">
		<link rel="stylesheet" href="/static/css/datepicker.css">
		<link rel="stylesheet" href="/static/css/animate.min.css">
		<link rel="stylesheet" href="/static/css/magnific-popup.css">
		<link rel="stylesheet" href="/static/css/responsive.css">
		
    </head>
    <body>
	

		<%- include('../partials/head.ejs') %>

		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Martin Eden</h2>
							<ul class="bread-list">
								<li><a href="/books">Kitaplarım</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Martin Eden</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- Single News -->
		<section class="news-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">
									<!-- News Head -->
									<div class="news-head">
										<img src="static/img/martin.jpg" alt="#">
									</div>
									<!-- News Title -->
									<h1 class="news-title"><a href="news-single.html" onclick="return false;"> Martin Eden</a></h1>
									<!-- Meta -->
									<div class="meta">

										<div class="meta-right">
											<span class="views"><i class="fa fa-eye"></i>23 Görüntüleme</span>
										</div>
									</div>
									<!-- News Text -->
                                    <div class="book-blog">
                                        <h3>Martin Edeni Uçuruma Sürükleyen Yol</h3>
                                        <br>
                                        <p>Martin başlangıçta cahil ve serseri bir kişidir. Martinin amacı iyi bir yazar olmak, yazdıklarını insanlara ulaştırmak, hayranlık duyduğu burjuva sınıfına girebilmek ve sevdiği kız Ruth’a kavuşmaktır. Martin bunun için çok çalışmıştır ve sonunda istediği her şeye ulaşmıştır. Sonunda çok iyi bir yazar olmuş, yazdığı yazılarla büyük bir üne kavuşmuş, yüksek çevrelerden kişiler onu yemeklerine davet etmiş ve sevdiği kız Ruth onunla evlenmek istediğini söylemiştir. Peki hedeflediği tüm ideallerini yerine getiren Martin’in artık mutlu olması, huzura ulaşması gerekmez mi? Tüm istekleri gerçekleşmesine rağmen Martin'i intihara sürükleyen yoldaki etkenler nedir?</p>
                                    
                                        <p>Gautama Buddha’ya göre sonu mutluluğa varan bir yol yoktur. Yol mutluluğun kendisidir. Mutluluk bir ideale ulaşmak değil, kişinin bu yolda yürürken ulaştığı doyumdur. Martin bu yolda yürürken onu yaşama bağlayan bu hırsa sahipti. Ancak isteklerinin gerçekleşmesi ve bu hırsın son bulması artık onu bir boşluğa sürükledi. Daha da kötüsü Martin’in yaşamını boş idealler üzerine oturtmasıydı. Fakat en kötüsü o idealler uğruna hayatını feda ettikten sonra bu ideallerin aslında ne kadar anlamsız olduğunu fark etmesi oldu. Bunun sonucunda psikolojik olarak ölümü gerçekleşen Martin’in yaşamak için sebebi kalmamıştı.</p>
                                        
                                        <p>Bunlara rağmen hala genç ve aydınlanmış olan Martin yeni bir sayfa açarak hayata bağlanamaz mıydı?</p>
                                    
                                        <p>Dostoyevski’nin Yeraltından Notlar eserinde yer alan şu sözler bence Martinin neden pes ettiğini açıklıyor: “Baylar, yemin ederim ki, her şeyi fazlasıyla anlamak bir hastalıktır; gerçek, tam manasıyla bir hastalık.” Martin ideallerini boşa oturtsa da yeni bir sayfa açarak yoluna devam edebilirdi fakat tek sorun bu değildi. Artık her şeyi daha iyi anlamaya başlayan Martin hayatın anlamsızlığında kayboldu ve tam anlamıyla bir “hasta” oldu. Her şeyi tam anlamıyla anlamaya başlayan Martin, burjuva sınıfının iki yüzlülüğünü anladı. Sevdiği kadının aslında çıkarı için onunla birlikte olmak istediğini anladı. Hayata yüklediği değerlerin aslında içinin ne kadar boş olduğunu anladı. Bu anlayışların sonucunda başkalaşan kişi artık Hasta Martin’di. Çünkü her şeyi fazlasıyla anlamak tam bir hastalıktı…</p>
                                    
                                        <p>Hasta Martin’in yeni kimliği ve yaşam tarzı onun içsel dengeyi kaybetmesine sebep oldu. Gerçek Martin hangisiydi denizci ve serseri olan mı? Meşhur yazar olan Martin mi? Bu durumu Jean-Paul Sartre "varoluşçu kriz" olarak adlandırmıştır. Kendi kişiliğini dengeleyemeyen Martin hayatta var olduğunu hissedemiyordu ve unutmayın ki hayat var olmak değil yaşamaktır. Bu dengeyi bozan durum Martin’in yaşadığı kişilik çatışmasıydı. Bu içsel çatışma Martin’in, ailesi ve arkadaşları ile olan bağlarını koparır ve yalnızlığa sürükler. Artık hayatta ideali kalmayan Martin aynı zamanda yalnızda kalmıştır. Bu yalnızlığın sebebi diğer insanların onun gibi “hasta” olmamasıydı. Artık yalnız ve Hasta Martin için aslında pek te seçenek kalmamıştı...</p>
                                        <br>
                                        <h3>Proleter x Burjuva</h3>
                                        <br>
                                        <p>Martin başlangıçta cahil ve serseri bir kişiliğe sahiptir. Birçok ağır işte emeğinin karşılığını alamadığı ücretlerde uzun saatler çalışmıştır. Martin’i bu koşullar sosyalist bir görüşe sahip olmaya sürüklemiştir. Karl Marx’ın düşüncelerinden etkilenerek sınıfsal farklılıkların ve ekonomik adaletsizliği acı bir şekilde deneyimler. Güçlü olanın zayıf olanı ezdiğini ve işçi sınıfının hak ettiğini alamadığını görmüştür. Fakat artık ezilen sınıfta olmak istemeyen Martin okumaya başlamasıyla bu fikirden uzaklaşarak artık kendisi de güçlü olmayı ve burjuva sınıfına girmeyi amaçlamıştır.</p>
                                    
                                        <p>Martin, kendi potansiyelini keşfetmek ve toplumsal normlara meydan okumak için mücadele etmeye karar vermiştir. Bu düşünce de Nietzsche’nin “üst insan” kavramıyla örtüşmektedir. Martin geleneksel değerlerden ayrılmayı ve kendi değerlerini yaratmayı hedeflemiştir. Bunun üzerine vaktinin birçok kısmını kitap okumaya ayıran Eden artık uykusundan bile feragat eder olmuştur. Okudukça iştahlanıyor iştahlandıkça daha fazla okuyordur. Artık okuduklarını basit bulmaya başlayan Eden daha iyisini yazabileceğini düşünerek yazmaya ve yazdıklarını yayınevlerine göndermiştir. Çeşitli zorluklar yaşasa da başarılı bir yazar olmuş ve artık ezilen sınıfta değil güçlü biri olmuştur. Bu güç sayesinde herkes onu yemeklerine davet ediyor ve onunla görünmek istiyordu. Artık burjuva sınıfından biri olan Martin istediklerine ulaşmıştır.</p>
                                    
                                        <p>İstediklerine ulaşmasına rağmen Martin burjuva sınıfının iki yüzlü ve bayağılığıyla karşı karşıya kalır. Geçmişte aç bir insanken kimse onu yemeğe davet etmiyordu. Şuan istediği her şeyi alabilecek imkanı varken insanların onu yemeğe davet etmelerinin bir anlamı yoktu. Aslında ona Martin olduğu için değer veren kişilerin sadece eskiden tanıştığı işçi sınıfındaki insanlar olduğunu fark eder. Fakat artık işçi sınıfından biriside değildir. Martin artık kendini bu iki sınıfa da ait hissedemez. Sığınacak bir liman bulamayan Martin aidiyet hissini de kaybederek kendi içinde bir bunalıma sürüklenir. Bu bunalım ve iç hesaplaşmanın sonucu onu intihara sürükleyen yola kadar götürür…</p>
                                    </div>
                                    
     
								</div>
							</div>

							<%- include('../partials/comment.ejs') %>

						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="main-sidebar">
							<!-- Single Widget -->
							<div class="single-widget side-tags">
								<h3 class="title">Tags</h3>
								<ul class="tag">
									<li><a href="#">Kitap</a></li>
									<li><a href="#">Dünya Klasikleri</a></li>
									<li><a href="#">Türk Klasikleri</a></li>
									<li><a href="#">Edebiyat</a></li>
									<li><a href="#">Roman</a></li>
									<li><a href="#">Dostoyevski</a></li>
									<li><a href="#">Tolstoy</a></li>
                                    <li><a href="#">Kafka</a></li>

								</ul>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
                            <div class="single-widget category">
                                <h3 class="title">Kitap İncelemelerim</h3>
                                <ul class="categor-list">
                                    <li>&bull; <a href="#">Suç ve Ceza</a></li>
                                    <li>&bull; <a href="#">Dorian Gray'in Portresi</a></li>
                                    <li>&bull; <a href="#">1984</a></li>
                                    <li>&bull; <a href="#">Martin Eden</a></li>
                                    <li>&bull; <a href="#">Beyaz Geceler</a></li>
                                </ul>
                            </div>
                            
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget recent-post">
								<h3 class="title">Son Gönderiler</h3>
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/crime.jpg" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Raskolnikov'u Anlamak…</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Temmuz 3, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/dorian.jpg" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Beyaz Geceler</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Mart 05, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/beyaz.jpg" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Varoluşsal Sancılar...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Haziran 09, 2023</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
                                								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/martin.jpg" alt="#">
									</div>
									<div class="content">
										<h5><a href="#">Martini Uçuruma Sürükleyen Yol...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Şubat 21, 2022</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<!--/ End Single Widget -->
							<!-- Single Widget -->

							<!--/ End Single Widget -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Single News -->
		
		<%- include('../partials/footer.ejs') %>

		<!--/ End Footer Area -->
		
		<%- include('../partials/script.ejs') %>

    </body>
</html>