<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Arif Kalaycı</title>
		
		<%- include('../partials/link.ejs') %>

		<style>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/normalize.css") %>
			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/bootstrap.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/nice-select.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/font-awesome.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/icofont.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/slicknav.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/owl-carousel.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/datepicker.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/animate.min.css") %> 
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/magnific-popup.css") %>
  			<%- include("style.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/responsive.css") %>

		</style>
    </head>
    <body>

		<!-- Header Area -->
		<%- include('../partials/head.ejs') %>

		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('/static/img/slider2.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1 style="color: aliceblue;">Arif Kalaycı</h1>
									<br>
									<h4 style="color: aliceblue;">Yazılım Mühendisi</h4>
									<p style="color: aliceblue;"><b>Tutkuyla kodla; yaratıcılığı teknolojiye, fikirleri gerçeğe dönüştür...</b></p>
									<div class="button">
										<a href="/projects" class="btn">Projelerim</a>
										<a href="/contact" class="btn primary">İletişim</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('/static/img/slider.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1 style="color: aliceblue;">Arif Kalaycı</h1>
									<br>
									<h4 style="color: aliceblue;">Yazılım Mühendisi</h4>
									<p style="color: aliceblue;"><b>Tutkuyla kodla; yaratıcılığı teknolojiye, fikirleri gerçeğe dönüştür...</b></p>
									<div class="button">
										<a href="/projects" class="btn">Projelerim</a>
										<a href="/contact" class="btn primary">İletişim</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Start End Slider -->
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image:url('/static/img/slider3.jpg')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1 style="color: aliceblue;">Arif Kalaycı</h1>
									<br>
									<h4 style="color: aliceblue;">Yazılım Mühendisi</h4>
									<p style="color: aliceblue;"><b>Tutkuyla kodla; yaratıcılığı teknolojiye, fikirleri gerçeğe dönüştür...</b></p>
									<div class="button">
										<a href="/projects" class="btn">Projelerim</a>
										<a href="/contact" class="btn primary">İletişim</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->

		
		<!-- denweee  Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<!-- single-info -->
						<div class="col-lg-4 col-12">
							<div class="single-schedule">
								<div class="inner">
									<div class="single-content">
										<a href="mailto:arif.kalayci44@gmail.com">
											<i style="color: aliceblue;" class="mail-icon fas fa-envelope"></i> <!-- Mail iconu eklendi -->
											<h3 style="color: aliceblue;">Mail Hesabım</h3>
											<p>Bağlantıya tıklayarak bana bu mail adresi üzerinden ulaşabilirsiniz...</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						
						
						<!--/End single-info -->
						<!-- single-info -->
						<div class="col-lg-4 col-12">
							<div class="single-schedule">
								<div class="inner">
									<div class="single-content">
										<a href="https://www.linkedin.com/in/arif-kalayci-01009721b/" target="_blank" rel="noopener noreferrer">
											<i style="color: aliceblue;" class="linkedin-icon fab fa-linkedin"></i> <!-- LinkedIn iconu eklendi -->
											<h3 style="color: aliceblue;">LinkedIn Hesabım</h3>
											<p>Bağlantıya tıklayarak LinkedIn profilime ulaşabilirsiniz...</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						
						
						<!--/End single-info -->
						<!-- single-info -->
						<div class="col-lg-4 col-12">
							<div class="single-schedule">
								<div class="inner">
									<div class="single-content">
										<a href="https://github.com/arifist" target="_blank" rel="noopener noreferrer">
											<i class="github-icon fab fa-github"></i> <!-- GitHub iconu -->
											<h3>GitHub Hesabım</h3>
											<p> Bağlantıya tıklayarak GitHub hesabıma buradan ulaşabilirsiniz...</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						
						
						
						
						<!--/End single-info -->
					</div>
				</div>
			</div>
		</section>
		
	
		
		<!-- Start service -->
		<section class="services section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>İlgi Alanlarım</h2>
							<i class="fas fa-star"></i>
							<p>Çeşitli konulara olan ilgilerimi burada paylaşıyorum. Her zaman yeni şeyler öğrenmeyi ve keşfetmeyi seviyorum.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Interest -->
						<div class="single-interest">
							<i class="icofont icofont-code-alt"></i>
							<h4><a href="#">Programlama</a></h4>
							<p>Farklı programlama dillerinde projeler geliştirmekten büyük keyif alıyorum. Sürekli yeni teknolojiler öğreniyorum.</p>
						</div>
						<!-- End Single Interest -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Interest -->
						<div class="single-interest">
							<i class="icofont icofont-music-note"></i>
							<h4><a href="#">Müzik</a></h4>
							<p>Müzik dinlemeyi ve yeni sanatçılar keşfetmeyi seviyorum. Müzik, ruhumun gıdasıdır!</p>
						</div>
						<!-- End Single Interest -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Interest -->
						<div class="single-interest">
							<i class="icofont icofont-globe"></i>
							<h4><a href="#">Seyahat</a></h4>
							<p>Yeni yerler keşfetmek ve farklı kültürleri deneyimlemek beni heyecanlandırıyor. Seyahat etmek, yeni ufuklar açıyor.</p>
						</div>
						<!-- End Single Interest -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Interest -->
						<div class="single-interest">
							<i class="icofont icofont-book"></i>
							<h4><a href="#">Kitap Okuma</a></h4>
							<p>Kitap okumak bilgi dağarcığımı genişletiyor. Kitaplar, perspektifimi genişletiyor ve hayal gücümü zenginleştiriyor.</p>
						</div>
						<!-- End Single Interest -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Interest -->
						<div class="single-interest">
							<i class="icofont icofont-camera-alt"></i>
							<h4><a href="#">Fotoğrafçılık</a></h4>
							<p>Fotoğraf çekmek ve anıları ölümsüzleştirmek benim için büyük bir tutku. Doğanın güzelliklerini fotoğraflıyorum.</p>
						</div>
						<!-- End Single Interest -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Interest -->
						<div class="single-interest">
							<i class="icofont icofont-tree-alt"></i> <!-- Doğa yürüyüşü ikonu -->
							<h4><a href="#">Doğa Yürüyüşü</a></h4>
							<p>Doğanın güzelliklerini keşfetmeyi seviyorum. Yürüyüşler, zihnimi ve bedenimi dinlendiriyor.</p>
						</div>
						<!-- End Single Interest -->
					</div>
					
				</div>
			</div>
		</section>
		<!--/ End service -->
		
		<!-- Pricing Table -->
		<section class="pricing-table section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Provide You The Best Treatment In Resonable Price</h2>
							<img src="/static/img/section-img.png" alt="#">
							<p>Lorem ipsum dolor sit amet consectetur adipiscing elit praesent aliquet. pretiumts</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- Single Table -->
					<div class="col-lg-4 col-md-12 col-12">
						<div class="single-table">
							<!-- Table Head -->
							<div class="table-head">
								<div class="icon">
									<i class="icofont icofont-ui-cut"></i>
								</div>
								<h4 class="title">Plastic Suggery</h4>
								<div class="price">
									<p class="amount">$199<span>/ Per Visit</span></p>
								</div>	
							</div>
							<!-- Table List -->
							<ul class="table-list">
								<li><i class="icofont icofont-ui-check"></i>Lorem ipsum dolor sit</li>
								<li><i class="icofont icofont-ui-check"></i>Cubitur sollicitudin fentum</li>
								<li class="cross"><i class="icofont icofont-ui-close"></i>Nullam interdum enim</li>
								<li class="cross"><i class="icofont icofont-ui-close"></i>Donec ultricies metus</li>
								<li class="cross"><i class="icofont icofont-ui-close"></i>Pellentesque eget nibh</li>
							</ul>
							<div class="table-bottom">
								<a class="btn" href="#">Book Now</a>
							</div>
							<!-- Table Bottom -->
						</div>
					</div>
					<!-- End Single Table-->
					<!-- Single Table -->
					<div class="col-lg-4 col-md-12 col-12">
						<div class="single-table">
							<!-- Table Head -->
							<div class="table-head">
								<div class="icon">
									<i class="icofont icofont-tooth"></i>
								</div>
								<h4 class="title">Teeth Whitening</h4>
								<div class="price">
									<p class="amount">$299<span>/ Per Visit</span></p>
								</div>	
							</div>
							<!-- Table List -->
							<ul class="table-list">
								<li><i class="icofont icofont-ui-check"></i>Lorem ipsum dolor sit</li>
								<li><i class="icofont icofont-ui-check"></i>Cubitur sollicitudin fentum</li>
								<li><i class="icofont icofont-ui-check"></i>Nullam interdum enim</li>
								<li class="cross"><i class="icofont icofont-ui-close"></i>Donec ultricies metus</li>
								<li class="cross"><i class="icofont icofont-ui-close"></i>Pellentesque eget nibh</li>
							</ul>
							<div class="table-bottom">
								<a class="btn" href="#">Book Now</a>
							</div>
							<!-- Table Bottom -->
						</div>
					</div>
					<!-- End Single Table-->
					<!-- Single Table -->
					<div class="col-lg-4 col-md-12 col-12">
						<div class="single-table">
							<!-- Table Head -->
							<div class="table-head">
								<div class="icon">
									<i class="icofont-heart-beat"></i>
								</div>
								<h4 class="title">Heart Suggery</h4>
								<div class="price">
									<p class="amount">$399<span>/ Per Visit</span></p>
								</div>	
							</div>
							<!-- Table List -->
							<ul class="table-list">
								<li><i class="icofont icofont-ui-check"></i>Lorem ipsum dolor sit</li>
								<li><i class="icofont icofont-ui-check"></i>Cubitur sollicitudin fentum</li>
								<li><i class="icofont icofont-ui-check"></i>Nullam interdum enim</li>
								<li><i class="icofont icofont-ui-check"></i>Donec ultricies metus</li>
								<li><i class="icofont icofont-ui-check"></i>Pellentesque eget nibh</li>
							</ul>
							<div class="table-bottom">
								<a class="btn" href="#">Book Now</a>
							</div>
							<!-- Table Bottom -->
						</div>
					</div>
					<!-- End Single Table-->
				</div>	
			</div>	
		</section>	
		<!--/ End Pricing Table -->
		
		

		
		<!-- Start clients -->
		<div class="clients overlay">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="owl-carousel clients-slider">
							<div class="single-clients">
								<img src="/static/img/sharp1.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="/static/img/java1.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="/static/img/sql1.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="/static/img/flutter.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="/static/img/web.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="/static/img/python1.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="/static/img/javascrpit.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/Ens clients -->

		
		<!-- Footer Area -->
		<%- include('../partials/footer.ejs') %>

		<!--/ End Footer Area -->
		
		<!-- jquery Min JS -->
		<%- include('../partials/script.ejs') %>

    </body>
</html>