<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Arif Kalaycı</title>
		
		<!-- Favicon -->
		<%- include('../partials/link.ejs') %>

		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/normalize.css">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/nice-select.css">
		<link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/icofont.css">
		<link rel="stylesheet" href="/static/css/slicknav.min.css">
		<link rel="stylesheet" href="/static/css/owl-carousel.css">
		<link rel="stylesheet" href="/static/css/datepicker.css">
		<link rel="stylesheet" href="/static/css/animate.min.css">
		<link rel="stylesheet" href="/static/css/magnific-popup.css">
		<link rel="stylesheet" href="/static/css/responsive.css">
		
    </head>
    <body>
	

		<%- include('../partials/head.ejs') %>

		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Projelerim</h2>
							<ul class="bread-list">
								<li><a href="/projects">Projelerim</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active" >Ürün Stok Tahmini Yapay Zeka Uygulaması</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- Single News -->
		<section class="news-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">
                                    <div class="project-list">
                                        <div class="project-forecast">
                                            <h2 class="project-title">Ürün Stok Tahmini Yapay Zeka Uygulaması</h2>
                                            <p class="project-description">Staj projem olan bu yapay zeka uygulaması, ürün stok tahmini yaparak ticaret sitemizdeki her bir ürün için gelecekteki aylık satışları tahmin etmeyi ve gerekli stok miktarlarını hesaplamayı amaçlıyor. Bu projede iki farklı model kullandım: ARIMA modeli ve Lineer Regresyon modeli. Her iki modelin avantajlarından yararlanarak doğru ve güvenilir tahminler elde etmeyi hedefledim.</p>
                                    
                                            <h3 class="project-subtitle">ARIMA Modeli</h3>
                                            <p class="project-text">ARIMA (AutoRegressive Integrated Moving Average) modeli, zaman serisi verilerini analiz ederek gelecek satışları tahmin etmek için kullanıldı. Bu model, geçmiş verilerin mevsimsel değişikliklerini ve trendlerini yakalamada etkili oldu.</p>
                                    
                                            <ul class="project-text">
                                                <li>Veri Analizi ve Hazırlık: Geçmiş satış verilerini analiz ederek model eğitimi için uygun hale getirdim.</li>
                                                <li>Model Eğitimi: ARIMA modelini eğiterek, gelecekteki aylık satışları tahmin ettim.</li>
                                                <li>Tahmin ve Değerlendirme: Modelin tahmin sonuçlarını geçmiş verilerle karşılaştırarak doğruluğunu değerlendirdim.</li>
                                            </ul>
                                    
                                            <h3 class="project-subtitle">Lineer Regresyon Modeli</h3>
                                            <p class="project-text">Lineer Regresyon modeli, bağımsız değişkenlerle satış verileri arasındaki ilişkileri analiz ederek gelecekteki satışları tahmin etmek için kullanıldı. Bu model, satışları etkileyen çeşitli faktörleri analiz ederek kapsamlı tahminler sağladı.</p>
                                    
                                            <ul class="project-text">
                                                <li>Veri Toplama ve Hazırlık: Satış verilerini ve bağımsız değişkenleri topladım.</li>
                                                <li>Model Eğitimi: Bağımsız değişkenlerle satış verileri arasındaki ilişkiyi analiz ederek model parametrelerini belirledim.</li>
                                                <li>Tahmin ve Değerlendirme: Modelin tahmin sonuçlarını geçmiş verilerle karşılaştırarak doğruluğunu değerlendirdim.</li>
                                            </ul>
                                    
                                            <h3 class="project-subtitle">Proje Süreci ve Uygulama</h3>
                                            <ul class="project-text">
                                                <li>Veri Toplama: Ticaret sitemizin geçmiş satış verilerini topladım.</li>
                                                <li>Veri Temizleme: Eksik veya hatalı verileri temizleyerek verilerin doğruluğunu sağladım.</li>
                                                <li>Veri Görselleştirme: Satış verilerini görselleştirerek trendleri ve mevsimselliği belirledim.</li>
                                            </ul>
                                    
                                            <ul class="project-text">
                                                <li>ARIMA Modeli: ARIMA modelini eğiterek gelecekteki satışları tahmin ettim.</li>
                                                <li>Lineer Regresyon Modeli: Bağımsız değişkenlerle ilişkileri analiz ederek Lineer Regresyon modelini eğittim ve tahminlerde bulundum.</li>
                                                <li>Model Karşılaştırma: Her iki modelin tahmin sonuçlarını karşılaştırarak en iyi performans gösteren modeli belirledim.</li>
                                            </ul>
                                    
                                            <h3 class="project-subtitle">Sonuç ve Uygulama</h3>
                                            <p class="project-text">Bu projede, iki modelin avantajlarını kullanarak ticaret sitemizdeki her bir ürün için gelecekteki aylık satışları tahmin ettim. Bu tahminler, stok yönetimini daha etkili hale getirerek müşteri taleplerini daha doğru bir şekilde karşılamamızı sağladı. Proje, yapay zeka ve veri analizi konusundaki yetkinliklerimi geliştirirken stok yönetimi ve satış tahmini süreçlerinde yapay zeka uygulamalarının önemini gösterdi.</p>
                                        </div>
                                    </div>
                                    
                                    <br>
									<div class="row">

                                        <div class="col">
                                            <img src="static/img/python1.png" alt="#">
                                        </div>
                                        
										<div class="col">
											<img src="static/img/colab.png" alt="#">
										</div>

									</div>
                                  <!-- News Text -->
     
								</div>
							</div>
                            <!-- yorum -->
							<%- include('../partials/comment.ejs') %>

						</div>
					</div>
					<!-- rightbar -->
					<div class="col-lg-4 col-12">
						<div class="main-sidebar">
							<!-- Single Widget -->
							<div class="single-widget side-tags">
								<h3 class="title">Tags</h3>
								<ul class="tag">
									<li><a href="#">Programlama Dilleri</a></li>
									<li><a href="#">C#</a></li>
									<li><a href="#">Java</a></li>
									<li><a href="#">SQL</a></li>
									<li><a href="#">Flutter</a></li>
									<li><a href="#">Dart</a></li>
									<li><a href="#">Python</a></li>
									<li><a href="#">Yapay Zeka</a></li>
									<li><a href="#">Css</a></li>
									<li><a href="#">Asp.Net Core</a></li>
									<li><a href="#">Spring</a></li>
					
								</ul>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget category">
								<h3 class="title">Başlıklar</h3>
								<ul class="categor-list">
									<li><a href="/projects">Projelerim</a></li>
									<li><a href="/experiences">Deneyimlerim</a></li>
									<li><a href="/certificates">Sertifikalarım</a></li>
								</ul>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget recent-post">
								<h3 class="title">Son Gönderiler</h3>
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/sharp.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project4">Yapay Zeka Destekli Web Projesi...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Temmuz 3, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/java.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project1">Araç Kiralama Backend Projesi...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Haziran 05, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/nodejs.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project2">Matrix E-Ticaret Projesi...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Mayıs 09, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
																<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/sharp.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project9">Asp.Net Core Projesi...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Mart 27, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
																<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/python.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project3">NLP İle Doğal Dil İşleme...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Ocak 21, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/flutter.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project6">Makinist Bilgilendirme Projesi...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Şubat 21, 2022</li>
										</ul>
									</div>
								</div>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<!--/ End Single Widget -->
							<!-- Single Widget -->
					
							<!--/ End Single Widget -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Single News -->
		
		<%- include('../partials/footer.ejs') %>

		<!--/ End Footer Area -->
		
		<%- include('../partials/script.ejs') %>

    </body>
</html>