<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Arif Kalaycı</title>
		
		<!-- Favicon -->
		<%- include('../partials/link.ejs') %>

		<style>

  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/normalize.css") %>
			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/bootstrap.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/nice-select.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/font-awesome.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/icofont.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/slicknav.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/owl-carousel.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/datepicker.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/animate.min.css") %> 
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/magnific-popup.css") %>
  			<%- include("style.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/responsive.css") %>

		</style>
		
    </head>
    <body>
	

		<%- include('../partials/head.ejs') %>

		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Projelerim</h2>
							<ul class="bread-list">
								<li><a href="/projects">Projelerim</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active" >Yapay Zeka Fiyatlandırma Uygulaması</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- Single News -->
		<section class="news-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">
                                    <div class="project-list">
                                        <div class="project-forecast">
                                            <h2 class="project-title">Yapay Zeka Fiyatlandırma Uygulaması</h2>
                                            <p class="project-description">Diğer e-ticaret sitelerinde satılan ürünlerin fiyatlarını analiz etmek ve bu verilerden öğrenerek kendi ürünlerinin en uygun fiyatını belirlemek için bir yapay zeka uygulaması gerçekleştirdim.</p>
                                    
                                            <p class="project-description">Yapay zeka, Python dilinde geliştirilmiş ve piyasadaki diğer ürünlerin fiyatlarını sürekli olarak tarayarak bu verilerden öğrenir. Kullanıcılar, uygulama aracılığıyla kendi ürünlerinin özelliklerini girer ve yapay zeka, benzer ürünlerin fiyatlandırma stratejilerini analiz eder.</p>
                                    
                                            <p class="project-description">Örneğin, bir elektronik ürün satıcısı, belirli bir model için en rekabetçi fiyatı belirlemek istediğinde, yapay zeka pazar trendlerini, talep dalgalanmalarını ve rakip fiyatlandırmalarını dikkate alarak öneriler sunar. Bu sayede kullanıcılar, daha fazla satış yapabilir ve rekabet avantajını elde edebilirler.</p>
                                    
                                            <p class="project-description">Yapay zeka uygulaması ayrıca, kullanıcıların fiyat stratejilerini test etmelerine ve sonuçlarını gerçek zamanlı olarak gözlemlemelerine olanak tanır. Bu şekilde, e-ticaret işletmeleri sürekli olarak değişen pazar koşullarına adapte olabilir ve kararlarını veriye dayalı olarak optimize edebilirler.</p>
                                        </div>
                                    </div>
                                    
                                    <br>
									<div class="row">

                                        <div class="col">
                                            <img src="static/img/python1.png" alt="#">
                                        </div>
                                        
										<div class="col">
											<img src="static/img/colab.png" alt="#">
										</div>

									</div>
                                  <!-- News Text -->
     
								</div>
							</div>
                            <!-- yorum -->
							<%- include('../partials/comment.ejs') %>

						</div>
					</div>
					<!-- rightbar -->
					<%- include('../partials/rightbar.ejs') %>
				</div>
			</div>
		</section>
		<!--/ End Single News -->
		
		<%- include('../partials/footer.ejs') %>

		<!--/ End Footer Area -->
		
		<%- include('../partials/script.ejs') %>

    </body>
</html>