<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Arif Kalaycı</title>
		
		<!-- Favicon -->
		<%- include('../partials/link.ejs') %>

		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/normalize.css">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/nice-select.css">
		<link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/icofont.css">
		<link rel="stylesheet" href="/static/css/slicknav.min.css">
		<link rel="stylesheet" href="/static/css/owl-carousel.css">
		<link rel="stylesheet" href="/static/css/datepicker.css">
		<link rel="stylesheet" href="/static/css/animate.min.css">
		<link rel="stylesheet" href="/static/css/magnific-popup.css">
		<link rel="stylesheet" href="/static/css/responsive.css">
		
    </head>
    <body>
	

		<%- include('../partials/head.ejs') %>

		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Projelerim</h2>
							<ul class="bread-list">
								<li><a href="/projects">Projelerim</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active" >E-Ticaret Sitesi Projem</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- Single News -->
		<section class="news-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">

                                    <div class="project-list">
                                        <div class="project-ecommerce">
                                            <h2 class="project-title">E-Ticaret Sitesi Projem</h2>
                                            <p class="project-description">ASP.NET Core kullanarak geliştirdiğim e-ticaret sitesi projem, kullanıcı dostu ve işlevsel bir platform oluşturmayı hedefliyor. Bu proje, MVC (Model-View-Controller) mimarisi, Razor Pages, API geliştirme ve MSSQL veritabanı yönetimi gibi çeşitli teknik bileşenleri içeriyor.</p>
                                    
                                            <h3 class="project-subtitle">ASP.NET Core</h3>
                                            <p class="project-text">ASP.NET Core kullanarak projenin temel yapısını oluşturdum. Bu framework, esnek ve modüler yapısıyla, uygulamanın hızlı ve güvenilir bir şekilde çalışmasını sağladı. ASP.NET Core sayesinde, backend işlemlerini etkili bir şekilde yöneterek veri güvenliğini ve performansı artırdım.</p>
                                    
                                            <h3 class="project-subtitle">MVC (Model-View-Controller) Mimarisi</h3>
                                            <p class="project-text">Projemi MVC mimarisi kullanarak yapılandırdım. MVC mimarisi sayesinde, uygulamanın kod yapısını daha organize ve yönetilebilir hale getirdim. Model katmanında veritabanı işlemlerini, View katmanında kullanıcı arayüzünü ve Controller katmanında iş mantığını yönettim. Bu sayede, kodun bakımını ve genişletilmesini kolaylaştırdım.</p>
                                    
                                            <h3 class="project-subtitle">API Geliştirme</h3>
                                            <p class="project-text">ASP.NET Core kullanarak çeşitli API'ler geliştirdim. Bu API'ler, kullanıcıların ürünleri listeleme, detaylarını görüntüleme, sepet işlemleri ve sipariş yönetimi gibi işlevleri gerçekleştirmelerine olanak tanıdı. API'lerin kullanımı, veri alışverişini hızlandırarak kullanıcı deneyimini iyileştirdi.</p>
                                    
                                            <h3 class="project-subtitle">Razor Pages</h3>
                                            <p class="project-text">Frontend geliştirme sürecinde Razor Pages kullanarak dinamik ve etkileşimli kullanıcı arayüzleri oluşturdum. Razor Pages ile sayfa mantığını ve kullanıcı arayüzünü birleştirerek geliştirme sürecini daha verimli hale getirdim. Bu yapı, kullanıcıların site üzerinde kolayca gezinebilmelerini sağladı.</p>
                                    
                                            <h3 class="project-subtitle">MSSQL Veritabanı</h3>
                                            <p class="project-text">Projemde veritabanı yönetimi için MSSQL kullandım. MSSQL ile, ürün bilgileri, kullanıcı verileri ve sipariş detayları gibi önemli verileri güvenli ve tutarlı bir şekilde sakladım. Veritabanı sorgularını optimize ederek, veri erişim hızını ve sistem performansını artırdım.</p>
                                                                        
                                            <h3 class="project-subtitle">Sonuç</h3>
                                            <p class="project-text">Bu e-ticaret sitesi projem, ASP.NET Core'un güçlü ve esnek yapısı ile modern web teknolojilerini bir araya getirerek kullanıcı dostu, güvenilir ve işlevsel bir platform sunuyor. MVC mimarisi, API geliştirme, Razor Pages ve MSSQL veritabanı gibi çeşitli teknik bileşenlerin kullanımı, projenin başarısını ve sürdürülebilirliğini artırdı. Bu projedeki deneyimim, yazılım geliştirme yetkinliklerimi ve teknik bilgi birikimimi önemli ölçüde genişletti.</p>
                                        </div>
                                    </div>
                                    
                                    
                                    <br>
									<div class="row">

                                        <div class="col">
                                            <img src="static/img/sharp.png" alt="#">
                                        </div>
                                        
										<div class="col">
											<img src="static/img/sqlserver.png" alt="#">
										</div>

									</div>
                                  <!-- News Text -->
     
								</div>
							</div>
                            <!-- yorum -->
							<%- include('../partials/comment.ejs') %>

						</div>
					</div>
					<!-- rightbar -->
					<div class="col-lg-4 col-12">
						<div class="main-sidebar">
							<!-- Single Widget -->
							<div class="single-widget side-tags">
								<h3 class="title">Tags</h3>
								<ul class="tag">
									<li><a href="#">Programlama Dilleri</a></li>
									<li><a href="#">C#</a></li>
									<li><a href="#">Java</a></li>
									<li><a href="#">SQL</a></li>
									<li><a href="#">Flutter</a></li>
									<li><a href="#">Dart</a></li>
									<li><a href="#">Python</a></li>
									<li><a href="#">Yapay Zeka</a></li>
									<li><a href="#">Css</a></li>
									<li><a href="#">Asp.Net Core</a></li>
									<li><a href="#">Spring</a></li>
					
								</ul>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget category">
								<h3 class="title">Başlıklar</h3>
								<ul class="categor-list">
									<li><a href="/projects">Projelerim</a></li>
									<li><a href="/experiences">Deneyimlerim</a></li>
									<li><a href="/certificates">Sertifikalarım</a></li>
								</ul>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget recent-post">
								<h3 class="title">Son Gönderiler</h3>
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/sharp.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project4">Yapay Zeka Destekli Web Projesi...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Temmuz 3, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/java.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project1">Araç Kiralama Backend Projesi...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Haziran 05, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/nodejs.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project2">Matrix E-Ticaret Projesi...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Mayıs 09, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
																<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/sharp.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project9">Asp.Net Core Projesi...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Mart 27, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
																<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/python.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project3">NLP İle Doğal Dil İşleme...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Ocak 21, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/flutter.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/project6">Makinist Bilgilendirme Projesi...</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Şubat 21, 2022</li>
										</ul>
									</div>
								</div>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<!--/ End Single Widget -->
							<!-- Single Widget -->
					
							<!--/ End Single Widget -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Single News -->
		
		<%- include('../partials/footer.ejs') %>

		<!--/ End Footer Area -->
		
		<%- include('../partials/script.ejs') %>

    </body>
</html>