<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Arif Kalaycı</title>
		
		<!-- Favicon -->
		<%- include('../partials/link.ejs') %>

		<style>

  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/normalize.css") %>
			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/bootstrap.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/nice-select.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/font-awesome.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/icofont.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/slicknav.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/owl-carousel.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/datepicker.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/animate.min.css") %> 
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/magnific-popup.css") %>
  			<%- include("style.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/responsive.css") %>

		</style>
		
    </head>
    <body>
	

		<%- include('../partials/head.ejs') %>

		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Projelerim</h2>
							<ul class="bread-list">
								<li><a href="/projects">Projelerim</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active" >Havayolu Müşteri Memnuniyeti Analizi Projesi</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- Single News -->
		<section class="news-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">

									<!-- News Text -->
                                    <div class="project-list">
                                        <div class="project-random-forest">
                                            <h2 class="project-title">Havayolu Müşteri Memnuniyeti Analizi Projesi</h2>
                                            <p class="project-description">Havayolu müşteri memnuniyetini analizini içeren proje, büyük veri ve makine öğrenimi tekniklerini kullanarak müşteri memnuniyetine etki eden faktörleri belirlemeyi amaçlıyor. Proje, 103 bin müşteri değerlendirmesi üzerinde random forest algoritması kullanılarak gerçekleştirildi ve çeşitli teknolojiler ile yapılandırıldı.</p>
                                    
                                            <h3 class="project-subtitle">Random Forest Algoritması</h3>
                                            <p class="project-text">Bu projede, random forest algoritması kullanılarak müşteri memnuniyetine etki eden faktörlerin analizi yapıldı. Random forest, birden çok karar ağacından oluşan ve daha doğru tahminler yapabilen bir makine öğrenimi algoritmasıdır. Bu algoritma, müşterilerin çeşitli faktörlere yönelik değerlendirmelerini analiz ederek hangi faktörlerin müşteri memnuniyeti üzerinde daha fazla etkili olduğunu belirlemekte kullanıldı.</p>
                                    
                                            <h3 class="project-subtitle">Veri Seti</h3>
                                            <p class="project-text">Proje kapsamında, 103 bin müşteri değerlendirmesi kullanılarak model eğitildi. Bu veri seti, müşteri memnuniyetini etkileyen çeşitli faktörler hakkında bilgi içeriyor. Müşterilerin koltuk mesafesi, Wi-Fi hizmeti gibi konulara verdikleri puanlar, memnuniyet analizi için temel verileri oluşturdu.</p>
                                    
                                            <h3 class="project-subtitle">Big Data Analizi</h3>
                                            <p class="project-text">Bu proje, büyük veri analizi üzerine odaklanmaktadır. Müşteri değerlendirmelerinin sayısı ve çeşitliliği, analizlerin daha kapsamlı ve güvenilir olmasını sağladı. Örneğin, analizler sonucunda müşterilerin koltuk mesafesine çok önem vermediği, ancak Wi-Fi hizmetine büyük önem verdiği belirlendi.</p>
                                    
                                            <h3 class="project-subtitle">Google Colab</h3>
                                            <p class="project-text">Proje, Google Colab platformunda geliştirildi. Colab, Python kodlarının bulut üzerinde çalıştırılmasına olanak tanıyan ve makine öğrenimi projeleri için gerekli olan araçları sağlayan bir platformdur. Bu sayede, büyük veri setleri ve karmaşık modeller kolaylıkla yönetildi.</p>
                                    
                                            <h3 class="project-subtitle">Python Flask API</h3>
                                            <p class="project-text">Proje kapsamında, Python ve Flask kullanılarak bir API yazıldı. Bu API, müşterilerin belirli faktörlere verdikleri puanlara göre genel memnuniyet seviyelerini tahmin etmek için kullanıldı. Flask, hafif ve esnek bir web framework olarak API geliştirme sürecini kolaylaştırdı.</p>
                                    
                                            <h3 class="project-subtitle">Müşteri Memnuniyeti Faktörleri</h3>
                                            <p class="project-text">Projenin temel amacı, müşterilerin çeşitli faktörlere verdikleri puanların genel memnuniyet üzerinde nasıl bir etkisi olduğunu analiz etmektir. Örneğin, analizler sonucunda müşterilerin koltuk mesafesine çok fazla önem vermediği, ancak Wi-Fi hizmetine büyük önem verdiği belirlenmiştir. Bu bilgiler, havayolu şirketlerinin hizmetlerini iyileştirmek ve müşteri memnuniyetini artırmak için stratejik kararlar almasına yardımcı olabilir.</p>
                                    
                                            <h3 class="project-subtitle">Proje Katkıları</h3>
                                            <p class="project-text">Bu proje, büyük veri ve makine öğrenimi tekniklerini kullanarak müşteri memnuniyeti analizi yapma konusunda önemli bir deneyim kazandırdı. Random forest algoritmasının kullanımı, büyük veri setlerinin yönetimi ve API geliştirme konularında yetkinlikler artırıldı. Ayrıca, havayolu müşteri memnuniyetini iyileştirmek için veri odaklı stratejilerin belirlenmesine katkı sağladı.</p>
                                            <div class="project-link">
                                                <a href="https://github.com/arifist/Airline_Customer_Analysis_Big_Data" target="_blank">Projeyi Githubta İncele</a>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <br>
									<div class="row">

                                        <div class="col">
                                            <img src="static/img/python1.png" alt="#">
                                        </div>
                                        
										<div class="col">
											<img src="static/img/colab.png" alt="#">
										</div>

									</div>
                                  <!-- News Text -->
     
								</div>
							</div>
                            <!-- yorum -->
							<%- include('../partials/comment.ejs') %>

						</div>
					</div>
					<!-- rightbar -->
					<%- include('../partials/rightbar.ejs') %>
				</div>
			</div>
		</section>
		<!--/ End Single News -->
		
		<%- include('../partials/footer.ejs') %>

		<!--/ End Footer Area -->
		
		<%- include('../partials/script.ejs') %>

    </body>
</html>