<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Arif Kalaycı</title>
		
		<!-- Favicon -->
		<%- include('../partials/link.ejs') %>

		<style>

  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/normalize.css") %>
			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/bootstrap.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/nice-select.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/font-awesome.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/icofont.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/slicknav.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/owl-carousel.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/datepicker.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/animate.min.css") %> 
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/magnific-popup.css") %>
  			<%- include("style.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/responsive.css") %>

		</style>
		
    </head>
    <body>
	

		<%- include('../partials/head.ejs') %>

		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Projelerim</h2>
							<ul class="bread-list">
								<li><a href="/">Ana Sayfa</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active" >Projelerim</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- Single News -->
		<section class="news-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">

									<!-- News Text -->
									<div class="project-list1">
										<div class="news-head">
											<img src="static/img/proje.jpg" alt="#">
										</div>
										<div class="meta">
											<div class="meta-right">
												<span class="views"><i class="fa fa-eye"></i>92 Görüntüleme</span>
											</div>
										</div>
										<h2 class="h2" style="color: black;">Projelerim</h2>

										<br>
                                        <div class="project-card">
                                            <div class="project-card-header">
                                                <h2 class="project-card-title">Araç Kiralama Backend Projesi - Java</h2>
                                                <div class="project-card-logo">
                                                    <img src="/static/img/java.png" alt="Proje Logosu">
													<img src="/static/img/spring.png" alt="Proje Logosu">
                                                    <img src="/static/img/post.png" alt="Proje Logosu">

                                                </div>
                                            </div>
                                            <div class="project-card-body">
                                                <p class="project-card-tech">Java dilinde yazılmış olan bu projede Spring, JPA, Lombook, PostgreSQL gibi birçok teknoloji kullanılmıştır. Proje detayları ve kaynak kodları için linke tıklayabilirsiniz...</p>

                                            </div>
                                            <a class="project-card-link" href="/project1" target="_blank">Projeyi İncele</a>
                                        </div>
										<!-- nodejs -->
                                        <div class="project-card">
                                            <div class="project-card-header">
                                                <h2 class="project-card-title">Matrix E-Ticaret Projesi - NodeJs</h2>
                                                <div class="project-card-logo">
                                                    <img src="/static/img/javascrpit.png" alt="Proje Logosu">
													<img src="/static/img/nodejs.png" alt="Proje Logosu">
													<img src="/static/img/sqlite.png" alt="Proje Logosu">
                                                </div>
                                            </div>
                                            <div class="project-card-body">
                                                <p class="project-card-tech">NodeJs ile yazılmış olan bu projede Express, Ajax, Ejs, SQLite gibi birçok teknoloji kullanılmıştır. Proje detayları ve kaynak kodları için linke tıklayabilirsiniz...</p>

                                            </div>
                                            <a class="project-card-link" href="/project2" target="_blank">Projeyi İncele</a>
                                        </div>
                                        <!-- nlp -->
                                        <div class="project-card">
                                            <div class="project-card-header">
                                                <h2 class="project-card-title">NLP İle Doğal Dil İşleme - Python</h2>
                                                <div class="project-card-logo">
                                                    <img src="/static/img/python.png" alt="Proje Logosu">
													<img src="/static/img/colab.png" alt="Proje Logosu">

                                                </div>
                                            </div>
                                            <div class="project-card-body">
                                                <p class="project-card-tech">Üniversite bitirme projem olan doğal dil işleme projemde e-ticaret sitelerindeki 243.477 adet yorumu olumlu, olumsuz ve nötr olarak sınıflandırdım. Google Colab ortamında geliştirdiğim bu projenin detayları ve anlatım videosu için linke tıklayabilirsiniz...</p>

                                            </div>
                                            <a class="project-card-link" href="/project3" target="_blank">Projeyi İncele</a>
                                        </div>
										 <!-- storeapp -->
										<div class="project-card">
											<div class="project-card-header">
												<h2 class="project-card-title">Yapay Zeka Destekli Web Projesi - C# - React - Python</h2>
												<div class="project-card-logo">
													<img src="/static/img/sharp.png" alt="Proje Logosu">
													<img src="/static/img/python.png" alt="Proje Logosu">
													<img src="/static/img/javascrpit.png" alt="Proje Logosu">
													<img src="/static/img/sqlite.png" alt="Proje Logosu">

												</div>
											</div>
											<div class="project-card-body">
												<p class="project-card-tech">Üniversite bitirme projem olan doğal dil işleme projemde e-ticaret sitelerindeki 243.477 adet yorumu olumlu, olumsuz ve nötr olarak sınıflandırdım. Google Colab ortamında geliştirdiğim bu projenin detayları ve anlatım videosu için linke tıklayabilirsiniz...</p>
	
											</div>
                                            <a class="project-card-link" href="/project4" target="_blank">Projeyi İncele</a>
										</div>
									</div>
                                    <!-- News Text -->
								</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
		<!--/ End Single News -->
		
		<%- include('../partials/footer.ejs') %>

		<!--/ End Footer Area -->
		
		<%- include('../partials/script.ejs') %>

    </body>
</html>