<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Arif Kalaycı</title>
		
		<!-- Favicon -->
		<%- include('../partials/link.ejs') %>

		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/normalize.css">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/css/nice-select.css">
		<link rel="stylesheet" href="/static/css/font-awesome.min.css">
		<link rel="stylesheet" href="/static/css/icofont.css">
		<link rel="stylesheet" href="/static/css/slicknav.min.css">
		<link rel="stylesheet" href="/static/css/owl-carousel.css">
		<link rel="stylesheet" href="/static/css/datepicker.css">
		<link rel="stylesheet" href="/static/css/animate.min.css">
		<link rel="stylesheet" href="/static/css/magnific-popup.css">
		<link rel="stylesheet" href="/static/css/responsive.css">
		
    </head>
    <body>
	

		<%- include('../partials/head.ejs') %>

		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Projelerim</h2>
							<ul class="bread-list">
								<li><a href="/projects">Projelerim</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active" >Flutter İle Makinist Bilgilendirme Uygulaması</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- Single News -->
		<section class="news-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">

									<!-- News Text -->
                                    <div class="project-list">
                                        <div class="project-flutter">
                                            <h2 class="project-title">Flutter İle Makinist Bilgilendirme Uygulaması</h2>
                                            <p class="project-description">Proje, frontend geliştirmesi için Flutter kullanılarak tasarlandı. Flutter'ın hızlı ve kullanıcı dostu arayüzleri oluşturma yetenekleriyle mobil uygulama geliştirme süreci optimize edildi.</p>

                                            <h3 class="project-subtitle">MySQL Veri Tabanı Entegrasyonu</h3>
                                            <p class="project-text">Uygulama, backend tarafında MySQL veri tabanıyla entegre edildi. Bu entegrasyon sayesinde, canlı verileri çekerek makinistlerin ve sefer bilgilerinin mobil uygulamada dinamik olarak gösterilmesi sağlandı.</p>

                                            <h3 class="project-subtitle">Canlı Veri Kullanımı</h3>
                                            <p class="project-text">Mobil uygulama, makinistlerin günlük sefer bilgilerini ve görevlerini görüntüleyebilmelerini sağlayan bir yapı üzerine kuruldu. Canlı veri kullanımı sayesinde güncel bilgilere anlık olarak erişim sağlandı.</p>

                                            <h3 class="project-subtitle">Kullanıcı Oturum Yönetimi</h3>
                                            <p class="project-text">Her bir makinist, uygulamaya giriş yaparak kendi işlemlerini gerçekleştirebilir ve özel bilgilerine erişebilir. Kullanıcı oturum yönetimi sayesinde güvenli bir kullanıcı deneyimi sunuldu.</p>

                                            <h3 class="project-subtitle">Proje Katkıları</h3>
                                            <p class="project-text">Bu proje, mobil uygulama geliştirme becerilerini ve backend ile veri tabanı entegrasyonu konularındaki yetkinliği artırdı. Özellikle, Flutter kullanarak modern ve kullanıcı dostu bir arayüz tasarlama ve MySQL ile veri yönetimi konularında deneyim kazandı.</p>
                                            <div class="project-link">
                                                <a href="https://github.com/arifist/samulas2" target="_blank">Projeyi Githubta İncele</a>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
									<div class="row">

                                        <div class="col">
                                            <img src="static/img/flutter1.png" alt="#">
                                        </div>
                                        
										<div class="col">
											<img src="static/img/mysql.png" alt="#">
										</div>

									</div>
                                  <!-- News Text -->
     
								</div>
							</div>
                            <!-- yorum -->
							<%- include('../partials/comment.ejs') %>

						</div>
					</div>
					<!-- rightbar -->
					<%- include('../partials/rightbar.ejs') %>
				</div>
			</div>
		</section>
		<!--/ End Single News -->
		
		<%- include('../partials/footer.ejs') %>

		<!--/ End Footer Area -->
		
		<%- include('../partials/script.ejs') %>

    </body>
</html>