<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Arif Kalaycı</title>
		
		<!-- Favicon -->
		<%- include('../partials/link.ejs') %>

		<style>

  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/normalize.css") %>
			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/bootstrap.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/nice-select.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/font-awesome.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/icofont.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/slicknav.min.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/owl-carousel.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/datepicker.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/animate.min.css") %> 
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/magnific-popup.css") %>
  			<%- include("style.css") %>
  			<%- include("C:/Users/arifk.ARIF.000/Downloads/node4sb2_vers_5/node4sb2/css/responsive.css") %>

		</style>
		
    </head>
    <body>
	

		<%- include('../partials/head.ejs') %>

		
		<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Projelerim</h2>
							<ul class="bread-list">
								<li><a href="/projects">Projelerim</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active" >Araç Kiralama Backend Projesi</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
		
		<!-- Single News -->
		<section class="news-single section">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-12">
						<div class="row">
							<div class="col-12">
								<div class="single-main">
									<!-- News Head -->
									<!-- News Text -->
									<div class="project-list">
										<div class="project-java">
											<h2 class="project-title">Araç Kiralama Backend Projesi</h2>
											<p class="project-description">Java programlama dili kullanarak geliştirdiğim bir araç kiralama backend projesi üzerinde çalıştım. Bu projede, kullanıcıların araç kiralama süreçlerini kolaylaştıran ve yönetim işlevlerini optimize eden bir sistem oluşturmayı hedefledim.</p>
									
											<h3 class="project-subtitle">Web API</h3>
											<p class="project-text">Projemde, Web API yazma becerilerimi kullanarak kullanıcıların araçları listeleme, kiralama ve iade etme gibi işlemleri gerçekleştirebileceği uç noktalar oluşturdum. Çok katmanlı mimari kullanarak, kodun daha sürdürülebilir ve yönetilebilir olmasını sağladım. Bu sayede, farklı katmanlarda yapılan değişikliklerin diğer katmanları minimum düzeyde etkilemesi sağlandı.</p>
									
											<h3 class="project-subtitle">Lombok</h3>
											<p class="project-text">Lombok kütüphanesi kullanarak, kodun daha okunabilir ve temiz olmasını sağladım. Lombok, özellikle getter ve setter gibi tekrar eden kodları azaltarak geliştirme sürecini hızlandırdı.</p>
									
											<h3 class="project-subtitle">Spring Framework</h3>
											<p class="project-text">Projede Spring Framework kullanarak bağımlılık yönetimi ve yapılandırma işlemlerini kolaylaştırdım. Spring, projenin modüler yapısını destekleyerek esneklik ve ölçeklenebilirlik sağladı.</p>
									
											<h3 class="project-subtitle">JPA ve PostgreSQL</h3>
											<p class="project-text">Veri tabanı yönetimi için JPA (Java Persistence API) kullandım. JPA, veri tabanı işlemlerini daha basit ve anlaşılır hale getirerek veri erişim katmanının yönetimini kolaylaştırdı. PostgreSQL veri tabanı ile verilerin güvenli ve tutarlı bir şekilde saklanmasını sağladım.</p>
									        <h3 class="project-subtitle">Maven</h3>
											<p class="project-text">Maven proje yönetim aracını kullanarak, bağımlılıkların yönetimini ve proje yapılandırmasını düzenledim. Bu sayede proje geliştirme sürecini daha sistemli ve yönetilebilir hale getirdim.</p>

											<h3 class="project-subtitle">OOP ve SOLID Prensipleri</h3>
											<p class="project-text">Projeyi OOP (Object-Oriented Programming) prensiplerine uygun olarak tasarladım ve geliştirdim. Objeler arası ilişkileri ve modüller arası etkileşimi en efektif şekilde yöneterek kodun anlaşılabilirliğini ve bakımını artırdım. SOLID prensiplerine dikkat ederek yazılımın esnekliğini ve genişletilebilirliğini sağladım.</p>
									
											<h3 class="project-subtitle">Sonuç</h3>
											<p class="project-text">Bu projeyi geliştirirken, her bir teknolojinin sunduğu avantajları ve kullanım alanlarını daha iyi anlama fırsatı buldum. Araç kiralama backend projem, yazılım geliştirme konusundaki yetkinliğimi artırmanın yanı sıra, kullanıcı odaklı çözümler üretme konusunda da önemli bir deneyim kazandırdı.</p>
											<p class="project-link"><a href="https://github.com/arifist/RentACar/tree/master/src/main/java/kodlama/io/rentACar" target="_blank">Projeyi GitHub'da İncele</a></p>
										</div>
									</div>
									<br>
									<div class="row">
										<div class="col">
											<img src="static/img/java.png" alt="#">
										</div>
										<div class="col">
											<img src="static/img/spring.png" alt="#">
										</div>
										<div class="col">
											<img src="static/img/post.png" alt="#">
										</div>
									</div>
                                  <!-- News Text -->
     
								</div>
							</div>
                            <!-- yorum -->
							<div class="col-12">
								<div class="comments-form">
									<h2>Yorum Bırakın</h2>
									<!-- Contact Form -->
									<form class="form" method="post" action="mail/mail.php">
										<div class="row">
											<div class="col-lg-4 col-md-4 col-12">
												<div class="form-group">
													<i class="fa fa-user"></i>
													<input type="text" name="first-name" placeholder="İsim" required="required">
												</div>
											</div>
											<div class="col-lg-4 col-md-4 col-12">
												<div class="form-group">
													<i class="fa fa-envelope"></i>
													<input type="text" name="last-name" placeholder="Soy İsim" required="required">
												</div>
											</div>
											<div class="col-lg-4 col-md-4 col-12">
												<div class="form-group">
													<i class="fa fa-envelope"></i>
													<input type="email" name="email" placeholder="Email" required="required">
												</div>
											</div>
											<div class="col-12">
												<div class="form-group message">
													<i class="fa fa-pencil"></i>
													<textarea name="message" rows="7" placeholder="Yorum" ></textarea>
												</div>
											</div>
											<div class="col-12">
												<div class="form-group button">	
													<button type="submit" class="btn primary"><i class="fa fa-send"></i>Yorum Gönder</button>
												</div>
											</div>
										</div>
									</form>
									<!--/ End Contact Form -->
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-12">
						<div class="main-sidebar">
							<!-- Single Widget -->
							<div class="single-widget side-tags">
								<h3 class="title">Tags</h3>
								<ul class="tag">
									<li><a href="#">Programlama Dilleri</a></li>
									<li><a href="#">C#</a></li>
									<li><a href="#">Java</a></li>
									<li><a href="#">SQL</a></li>
									<li><a href="#">Flutter</a></li>
									<li><a href="#">Dart</a></li>
									<li><a href="#">Python</a></li>
                                    <li><a href="#">Yapay Zeka</a></li>
                                    <li><a href="#">Web Teknolojileri</a></li>

								</ul>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
                            <div class="single-widget category">
                                <h3 class="title">Başlıklar</h3>
                                <ul class="categor-list">
                                    <li><a href="/projects">Projelerim</a></li>
                                    <li><a href="/experiences">Deneyimlerim</a></li>
                                    <li><a href="/certificates">Sertifikalarım</a></li>
                                </ul>
                            </div>
                            
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<div class="single-widget recent-post">
								<h3 class="title">Becerilerim</h3>
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/java.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/book1">Java Programlama</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Temmuz 3, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/flutter.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/book2">Flutter</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Mart 05, 2024</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/sharp.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/book3">C#</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Haziran 09, 2023</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
                                								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/python.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/book5">Python</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Nisan 27, 2023</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
                                								<!-- Single Post -->
								<div class="single-post">
									<div class="image">
										<img src="static/img/web.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/book4">Web Geliştirme</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Şubat 21, 2022</li>
										</ul>
									</div>
								</div>
								<!-- End Single Post -->
                                <div class="single-post">
									<div class="image">
										<img src="static/img/sql.png" alt="#">
									</div>
									<div class="content">
										<h5><a href="/book4">SQL</a></h5>
										<ul class="comment">
											<li><i class="fa fa-calendar" aria-hidden="true"></i>Şubat 21, 2022</li>
										</ul>
									</div>
								</div>
							</div>
							<!--/ End Single Widget -->
							<!-- Single Widget -->
							<!--/ End Single Widget -->
							<!-- Single Widget -->

							<!--/ End Single Widget -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Single News -->
		
		<%- include('../partials/footer.ejs') %>

		<!--/ End Footer Area -->
		
		<%- include('../partials/script.ejs') %>

    </body>
</html>